/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700|Signika:100,200,300,400,500,600,700");

/* --------------------- Heading ----------------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.navbar-brand {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 5px;
  font-size: 30px;
}

.navbar {
  background-color: rgba(0, 188, 226, 0.7);
}

.nav {
  padding-left: 50%;
}

.nav-link {
  font-family: "Signika";
  font-weight: 700;
  padding-right: 30px;
  letter-spacing: 1px;
  color: #fafafa;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #001253;
}

#home-img {
  width: 100%;
  height: 850px;

  -webkit-animation-name: image-zoom;

  animation-name: image-zoom;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  position: relative;
}

#home-text h2 {
  font-size: 5rem;
  font-family: "Rubik";
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fafafa;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#home-text h3 {
  font-size: 1.5rem;
  font-family: "Signika";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#home-pg {
  width: 100%;
  height: 850px;
  overflow: hidden;
  position: relative;
}

@-webkit-keyframes image-zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes image-zoom {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.btn-bg {
  font-size: 1.2rem;
  font-family: "Signika", sans-serif;
}

.btn-bg .btn-left {
  position: absolute;
  top: 85%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #001253;
  color: #fafafa;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}
.btn-bg .btn-right {
  position: absolute;
  top: 85%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #001253;
  color: #fafafa;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}

.btn-bg .btn-left:hover,
.btn-bg .btn-right:hover {
  background-color: #0077ff;
  color: #fafafa;
}

/* --------------------- About Section ----------------------- */

#about-pg {
  height: 1050px;
  background-color: #00bce2;
  background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
}

#about-pg .container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#about-pg h1 {

  font-family: "Rubik";
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}

#about-pg h3 {    
  font-family: "Signika";
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.about-img-1 {
    height: 220px;
    position: relative;
    top: 15px;
    z-index: 1;
}

.about-img-2 {
  height: 200px;
  position: relative;
  z-index: 2;
  right: 50px;
  top: 25px;
}

.about-img-3 {
    height: 180px;
    position: relative;
    z-index: 3;
    right: 80px;
    top: 35px;
}

#about-pg .image {
  float: left;
  padding-top: 150px;
}
#about-pg img {
    width: 20%;
}

#about-pg .iframe {
  float: left;
}
#about-pg .video {
  padding-top: 150px;
}
#about-pg .text-about {    
  width: 33%;
  float: right;
  }

/* --------------------- Rooms Section ----------------------- */

#room-pg {
  background-color: #869ea3;
  height: 1800px;
}

.jumbotron {
  background-color: inherit;
}

#room-pg .row {
  margin-right: 100px;
  margin-left: 100px;
  background-color: #a7b9bc;
}

#title-txt h1 {
  font-family: "Rubik";
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 50px;
}

.jumbotron h4 {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 2rem;
}

.jumbotron h5 {
  font-family: "Signika";
  font-weight: 700;
  font-size: 1.5rem;
}

.jumbotron p {
  font-family: "Signika";
  font-weight: 700;
  font-size: 1rem;
  line-height: 5px;
}

.jumbotron .btn {
  text-transform: uppercase;
  background-color: #001253;
  color: #fafafa;
}
.jumbotron .btn:hover {
  background-color: #0077ff;
}

.jumbotron .row:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.6);
}

.jumbotron img {
  max-width: 100%;
  max-height: 100%;
}

.btn-room {
  float: right;
}
.badge {
  float: left;
  margin-left: 20px;
}

@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.jumbotron div#slider {
  overflow: hidden;
}
.jumbotron div#slider figure img {
  width: 20%;
  float: left;
}
.jumbotron div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 20s slidy infinite;
  animation: 20s slidy infinite;
}

.jumbotron div#slider2 {
  overflow: hidden;
}
.jumbotron div#slider2 figure img {
  width: 20%;
  float: left;
}
.jumbotron div#slider2 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 20s slidy infinite;
  animation: 20s slidy infinite;
}

.jumbotron div#slider3 {
  overflow: hidden;
}
.jumbotron div#slider3 figure img {
  width: 20%;
  float: left;
}
.jumbotron div#slider3 figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 20s slidy infinite;
  animation: 20s slidy infinite;
}

/* --------------------- Features Section ----------------------- */

#features-pg {
  background-color: rgba(0, 188, 226, 0.7);
  background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
  height: 1100px;
}

#features-pg h1 {
  font-family: "Rubik";
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 50px;
}

#features-pg h2 {
  font-family: "Signika";
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.features-pg h3 {
  font-family: "Signika";
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.features-content-left {
  float: left;
  position: absolute;
  left: 650px;
  padding-top: 80px;
  max-width: 300px;
}
.features-icon-left {
  float: left;
  position: absolute;
  margin-top: 40px;
  margin-left: -30%;
  font-size: 50px;
  line-height: 50px;
}

.features-content-right {
  float: right;
  position: relative;
  left: 300px;
  padding-top: 80px;
  max-width: 300px;
}

.features-icon-right {
  float: right;
  position: absolute;
  margin-top: 40px;
  margin-left: -30%;
  font-size: 50px;
  line-height: 50px;
}

#features-pg .container {
  position: relative;
}

#features-pg .container img {
  max-width: 250px;
  max-height: 250px;
}

.img-1 {
  position: absolute;
  left: -30px;
  top: 215px;
  z-index: 2;
}
.img-2 {
  position: absolute;
  left: -200px;
  top: 80px;
  z-index: 1;
}
.img-3 {
  position: absolute;
  left: 150px;
  top: 80px;
  z-index: 1;
}

.img-4 {
  position: absolute;
  left: -200px;
  top: 350px;
  z-index: 1;
}
.img-5 {
  position: absolute;
  left: 150px;
  top: 350px;
  z-index: 1;
}

/* --------------------- testimonial Section ----------------------- */

#testimonial-pg {
  min-height: 80vh;
  display: flex;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  background-color: rgba(134, 158, 163, 0.8);
  font-family: "Open Sans";
}

#testimonial-carousel {
  background-color: rgba(134, 158, 163, 0.4);
  max-width: 100%;
  margin: auto;
}

.carousel-caption {
  position: initial;
  z-index: 10;
  padding: 5rem 8rem;
  color: rgb(39, 43, 44);
  text-align: center;
  font-size: 1.2rem;
  font-family: "Signika";
  font-weight: bold;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 2rem;
    color: #fafafa;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.5rem;
  }
}

.carousel-caption img {
  width: 6rem;
  border-radius: 5rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 1rem;
  }
}

#image-caption {
  font-style: normal;
  font-size: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 767px) {
  #image-caption {
    font-style: normal;
    font-size: 0.6rem;
    margin-top: 0.5rem;
  }
}

#testimonial-pg i {
  background-color: rgb(39, 43, 44);
  padding: 1.4rem;
}

@media (max-width: 767px) {
  i {
    padding: 0.8rem;
  }
}

.carousel-control-prev {
  justify-content: flex-start;
}

.carousel-control-next {
  justify-content: flex-end;
}

.carousel-control-prev,
.carousel-control-next {
  transition: none;
  opacity: unset;
}

/* --------------------- Media Query Section ----------------------- */
