@import url("https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,600,700|Signika:100,200,300,400,500,600,700");

/* --------------------- Heading ----------------------- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.navbar-brand {
  margin-left: 20px;
  padding: 1px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: #fafafa;
  letter-spacing: 5px;
  font-size: 30px;
}

.navbar {
  background-color: rgba(0, 188, 226, .7)  
}

.nav-link {
  font-family: "Signika";
  font-weight: 700;
  margin-right: 30px;
  letter-spacing: 1px;
  color: #fafafa;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #001253;
}


#home-img {
  width: 100%;
  height: 850px;

  animation-name: image-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;

  position: relative;
}

#home-text h2 {
  font-size: 5rem;
  font-family: "Rubik";
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fafafa;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-text h3 {
  font-size: 1.5rem;
  font-family: "Signika";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

#home-pg {
  width: 100%;
  height: 850px;
  overflow: hidden;
  position: relative;
}

@keyframes image-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}


.btn-bg {
  font-size: 1.2rem;
  font-family: "Signika", sans-serif;
}
.btn-bg .btn-left {
  position: absolute;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #001253;
  color: #fafafa;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}
.btn-bg .btn-right {
  position: absolute;
  top: 85%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #001253;
  color: #fafafa;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  text-align: center;
}

.btn-bg .btn-left:hover,
.btn-bg .btn-right:hover {
  background-color: #0077ff;
  color: #fafafa;
}

/* --------------------- About Section ----------------------- */

#about-pg {
  height: 1150px; 
  background-color: rgba(0, 188, 226, .7); 
  color: #fafafa;
  position: relative;
}

#about-txt {
    margin-top: 180px;
    margin-right: 50px; 
    width: 43%;
    float: right;
    text-align: left;
    color: #001253;
}
#about-txt h1 {
    margin-top: 20px;
    padding-bottom: 95px;
    font-family: "Rubik";
    font-size: 4rem;
    text-decoration: underline;
    text-transform: uppercase;    
}

#about-txt h2 {
    font-family: "Signika";
    font-size: 1.5rem;
    font-weight: 400;
}

#about-txt p {
    padding-top: 340px;
    font-family: "Signika";
    font-size: 1.5rem;
    font-weight: 400;    
}

hr {    
  border: 10px;
}

#left-img {       
    margin-left: 200px;  
    padding-top: 180px;
    position: relative;
    z-index: 1;
}

#center-img {    
    margin-left: 450px;
    margin-top: -290px; 
    position: relative;
    z-index: 3;
}

#right-img {   
    margin-left: 700px;
    margin-top: -230px;    
    position: relative;
    z-index: 100;
}

#about-video {    
    padding-top: 100px;
    margin-left: 200px;
}
